#! /usr/bin/env python3
# -*- coding: utf-8 -*-

import requests
from threading import Thread



mid    = "U3596b3512e4e6432af5efe318449cb3e"
mid    = "u669aa92773d33c22420105d4546fccdd"
mid    = "U3596b3512e4e6432af5efe318449cb3e"

params = {"category": "square", "mid": mid)}

c = 0
def post():
    global c
    try:    requests.post("https://w.line.me/openchatactivate/api/unset", params=params)
    except: pass
    try:    requests.post("https://w.line.me/openchatactivate/api/set", params=params)
    except: pass
    c+=1
    print(c)

while True:
    Thread(target=post).start()
